<div th:fragment="html (title,subtitle,nested)" class="animated fadeInDown m-[30px] mt-[20px] border-b border-gray-200">
  <div class="flex flex-col pb-3">
    <div class="flex flex-wrap items-end">
      <h3 class="text-xl font-medium leading-6 text-gray-900" th:text="${title}"></h3>
      <span th:if="${not #strings.isEmpty(subtitle)}" class="ml-2 text-sm text-gray-500" th:text="${subtitle}"></span>
    </div>
    <div th:if="${nested != null}">
      <th:block th:replace="${nested}" />
    </div>
  </div>
</div>
