<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head">
      <title th:text="${site.title}"></title>
    </slot>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit" />
    <link rel="alternate" type="application/rss+xml" title="atom 1.0" href="/rss.xml" />
    <include src="styles.html"></include>
    <script type="module" src="./assets/main.ts"></script>

    <link
      th:if="${theme.config.basic.katex} and ${_templateId == 'post' or _templateId == 'page'}"
      th:href="@{/assets/libs/katex/katex.min.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <include src="sidebar.html"></include>
    <div class="main">
      <include src="page-top.html"></include>
      <div class="content">
        <slot />
      </div>
    </div>
  </body>
</html>
