<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{module/layout :: html(title = '分类目录 - ' + ${site.title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <th:block
      th:replace="~{module/page-heading :: html(title = '分类目录', subtitle= ${#lists.size(categories)}, nested = null)}"
    ></th:block>
    <div class="post-page">
      <div class="post animated fadeInDown">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
          <th:block
            th:each="category : ${categories}"
            th:with="posts=${postFinder.listByCategory(1,10,category.metadata.name)}"
          >
            <div th:if="${posts.total gt 0}">
              <a th:href="@{${category.status.permalink}}" class="underline-offset-1 hover:underline">
                <div class="inline-flex items-center text-base font-medium text-gray-800">
                  <i class="i-mdi-folder-outline h-5 w-5"></i>
                  <span class="ml-2">
                    <th:block th:text="${category.spec.displayName}"></th:block>
                    <sup class="ml-1 text-gray-400" th:text="${category.postCount}"></sup>
                  </span>
                </div>
              </a>
              <div class="mt-3">
                <div class="flex flex-col gap-y-2 pl-5">
                  <th:block th:if="${posts.total gt 0}">
                    <div th:each="post : ${posts.items}" class="flex justify-between">
                      <a
                        th:href="@{${post.status.permalink}}"
                        class="text-sm text-black/80 hover:font-medium hover:text-black hover:underline"
                        th:text="${post.spec.title}"
                      >
                      </a>
                      <span
                        class="text-sm text-gray-300"
                        th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd HH:mm')}"
                      ></span>
                    </div>
                  </th:block>

                  <div th:if="${posts.total gt 10}" class="mt-2 flex justify-end">
                    <a
                      th:href="@{${category.status.permalink}}"
                      class="inline-flex items-center text-sm text-black/60 hover:font-medium hover:text-black hover:underline"
                    >
                      <i class="i-mdi-unfold-more-vertical mr-2"></i>
                      更多
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </th:block>
</html>
