<!DOCTYPE html>
<html lang="zh">
  <head>
    <title th:text="|${title} - ${site.title}|"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/assets/photo/css/main.css}" />
    <noscript>
      <link rel="stylesheet" href="@{/assets/photo/css/noscript.css}" />
    </noscript>
  </head>
  <body class="is-loading-0 is-loading-1 is-loading-2">
    <div id="main">
      <header id="header">
        <h1 th:text="${title}"></h1>
      </header>
      <section id="thumbnails">
        <th:block th:each="group : ${groups}">
          <article th:each="photo : ${group.photos}">
            <a class="thumbnail" th:href="${photo.spec.url}" data-position="left center">
              <img th:src="${photo.spec.cover ?: photo.spec.url}" th:alt="${photo.spec.description}" />
            </a>
            <h2 th:text="${photo.spec.displayName}"></h2>
            <p th:text="${#dates.format(photo.metadata.creationTimestamp,'yyyy-MM-dd')}"></p>
          </article>
        </th:block>
      </section>
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; <th:block th:text="${site.title}"></th:block>.</li>
          <li>Design: <a href="https://html5up.net">HTML5 UP</a>.</li>
        </ul>
      </footer>
    </div>
    <script th:src="@{/assets/photo/js/jquery.min.js}"></script>
    <script th:src="@{/assets/photo/js/skel.min.js}"></script>
    <script th:src="@{/assets/photo/js/main.js}"></script>
  </body>
</html>
