<!-- <#include "./module/page-heading.ftl" />

<@layout.extends name="module/layout.ftl">
    <@layout.put block="title">${post.title!} - ${blog_title!}</@layout.put>
    <@layout.put block="content">
        <@page_heading title="${post.title!}" subtitle="">
            <div class="post-info mt-2" x-data="posts">
                <div class="meta">
                    <div class="info">
                        <i class="iconify w-3 h-3" data-icon="mdi:calendar-month-outline"></i>
                        <span>${post.createTime?string("yyyy-MM-dd")}</span>
                        <i class="iconify w-3 h-3" data-icon="mdi:eye"></i>
                        <span>${post.visits!0}</span>
                        <i class="iconify w-3 h-3" data-icon="mdi:comment-outline"></i>
                        <a href="${post.fullPath!}#comment_widget">${post.commentCount!}</a>
                        <div class="inline-block hover:text-red-700 cursor-pointer"
                             x-bind:class="{'text-red-700': liked(${post.id?c})}"
                             x-on:click="handleLike(${post.id?c})">
                            <i x-show="liked(${post.id?c})" class="iconify w-3 h-3"
                               data-icon="mdi:heart"></i>
                            <i x-show="!liked(${post.id?c})" class="iconify w-3 h-3"
                               data-icon="mdi:heart-outline"></i>
                            <span data-post-id-likes="${post.id?c}">${post.likes!}</span>
                        </div>
                        <#if post.categories?size gt 0>
                            <i class="iconify w-3 h-3" data-icon="mdi:folder-outline"></i>
                            <#list post.categories as category>
                                <a href="${category.fullPath}" title="${category.name!}">${category.name}</a>
                            </#list>
                        </#if>
                        <#if tags?size gt 0>
                            <i class="iconify w-3 h-3" data-icon="mdi:tag"></i>
                            <#list tags as tag>
                                <a href="${tag.fullPath!}" title="${tag.name}">${tag.name}</a>
                            </#list>
                        </#if>
                    </div>
                </div>
            </div>
        </@page_heading>
        <div class="post-page">
            <div class="post animated fadeInDown">
                <div id="post-content" class="post-content markdown-body">
                    ${post.formatContent!}
                </div>
            </div>
            <div class="pagination flex justify-between items-center">
                <#if prevPost??>
                    <a class="btn" role="navigation" href="${prevPost.fullPath!}" title="${prevPost.title}">上一篇</a>
                </#if>
                <#if nextPost??>
                    <a class="btn" role="navigation" href="${nextPost.fullPath!}" title="${nextPost.title}">
                        下一篇
                    </a>
                </#if>
            </div>
            <div id="comment_widget" style="margin: 30px;">
                <#include "module/comment.ftl">
                <@comment post=post type="post" />
            </div>
        </div>
    </@layout.put>

</@layout.extends> -->

<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{module/layout :: html(title =${post.spec.title} + ' - ' + ${site.title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{module/page-heading :: html(title = ${post.spec.title},subtitle='', nested = ~{::nested})}">
      <th:block th:fragment="nested">
        <div class="post-info mt-2" x-data="posts">
          <div th:attr="x-data=|{name:'${post.metadata.name}'}|" class="meta">
            <div class="info">
              <i class="i-mdi-calendar-month-outline h-3 w-3"></i>
              <span th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"></span>
              <i class="i-mdi-eye h-3 w-3"></i>
              <span th:text="${post.stats.visit}"></span>
              <i class="i-mdi-comment-outline h-3 w-3"></i>
              <a href="#comment_widget" th:text="${post.stats.comment}">0</a>
              <!-- TODO -->
              <div
                class="inline-block cursor-pointer hover:text-red-700"
                x-bind:class="{'text-red-700': upvoted(name)}"
                x-on:click="handleUpvote(name)"
              >
                <i x-show="upvoted(name)" class="i-mdi-heart h-3 w-3"></i>
                <i x-show="!upvoted(name)" class="i-mdi-heart-outline h-3 w-3"></i>
                <span th:attr="data-upvote-post-name=${post.metadata.name}" th:text="${post.stats.upvote}"></span>
              </div>
              <th:block th:if="${not #lists.isEmpty(post.categories)}" class="inline-block">
                <i class="i-mdi-folder-outline h-3 w-3"></i>
                <a
                  th:each="category : ${post.categories}"
                  th:href="@{${category.status.permalink}}"
                  th:title="${category.spec.displayName}"
                  th:text="${category.spec.displayName}"
                ></a>
              </th:block>
              <th:block th:if="${not #lists.isEmpty(post.tags)}" class="inline-block">
                <i class="i-mdi-tag h-3 w-3"></i>
                <a
                  th:each="tag : ${post.tags}"
                  th:href="@{${tag.status.permalink}}"
                  th:title="${tag.spec.displayName}"
                  th:text="${tag.spec.displayName}"
                >
                </a>
              </th:block>
            </div>
          </div>
        </div>
      </th:block>
    </th:block>

    <div class="post-page">
      <div class="post animated fadeInDown">
        <div id="post-content" class="post-content markdown-body" th:utext="${post.content.content}"></div>
      </div>
      <div
        th:with="postCursor = ${postFinder.cursor(post.metadata.name)}"
        class="pagination flex items-center justify-between"
      >
        <a
          class="btn"
          th:if="${postCursor.hasPrevious()}"
          role="navigation"
          th:href="@{${postCursor.previous.status.permalink}}"
          th:title="${postCursor.previous.spec.title}"
        >
          上一篇
        </a>
        <a
          class="btn"
          th:if="${postCursor.hasNext()}"
          role="navigation"
          th:href="@{${postCursor.next.status.permalink}}"
          th:title="${postCursor.next.spec.title}"
        >
          下一篇
        </a>
      </div>
      <div id="comment_widget" style="margin: 30px">
        <halo:comment group="content.halo.run" kind="Post" th:attr="name=${post.metadata.name}" colorScheme="'light'" />
      </div>
    </div>
  </th:block>
</html>
