<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{module/layout :: html(title = '标签：' + ${tag.spec.displayName} + ' - ' + ${site.title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <th:block
      th:replace="~{module/page-heading :: html(title = |标签：${tag.spec.displayName}|, subtitle=|${tag.postCount} 篇文章|, nested = null)}"
    ></th:block>
    <div th:with="postItems=${posts.items}" x-data="upvote('post','content.halo.run','posts')">
      <th:block th:replace="~{module/post-entry}" />
    </div>
    <div th:if="${posts.hasPrevious() || posts.hasNext()}" class="pagination flex items-center justify-between">
      <a th:if="${posts.hasPrevious()}" class="btn w-20" role="navigation" th:href="@{${posts.prevUrl}}" title="上一页">
        上一页
      </a>
      <span class="text-sm" th:text="|${posts.page} / ${posts.totalPages}|"></span>
      <a th:if="${posts.hasNext()}" class="btn w-20" role="navigation" th:href="@{${posts.nextUrl}}" title="下一页">
        下一页
      </a>
    </div>
  </th:block>
</html>
