<!-- <#include "./module/page-heading.ftl" />

<@layout.extends name="module/layout.ftl">
    <@layout.put block="title">标签：${tag.name!} - ${blog_title!}</@layout.put>
    <@layout.put block="content">
        <@page_heading title="标签：${tag.name!}" subtitle="${posts.totalElements!} 篇文章" />
        <div x-data="posts">
            <#include "module/post-entry.ftl">
        </div>
        <#if posts.totalPages gt 1>
            <@paginationTag method="tagPosts" page="${posts.number?c}" total="${posts.totalPages?c}" display="3" slug="${tag.slug!}">
                <div class="pagination flex justify-between items-center">
                    <#if pagination.hasPrev>
                        <a class="btn" role="navigation" href="${pagination.prevPageFullPath!}">上一页</a>
                    </#if>
                    <span class="text-sm">${posts.number+1}/${posts.totalPages!}</span>
                    <#if pagination.hasNext>
                        <a class="btn" role="navigation" href="${pagination.nextPageFullPath!}">下一页</a>
                    </#if>
                </div>
            </@paginationTag>
        </#if>
    </@layout.put>
</@layout.extends> -->

<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{module/layout :: html(title = '标签：' + ${tag.spec.displayName} + ' - ' + ${site.title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <th:block
      th:replace="~{module/page-heading :: html(title = |标签：${tag.spec.displayName}|, subtitle=|${tag.postCount} 篇文章|, nested = null)}"
    ></th:block>
    <div th:with="postItems=${posts.items}" x-data="posts">
      <th:block th:replace="~{module/post-entry}" />
    </div>
    <div th:if="${posts.hasPrevious() || posts.hasNext()}" class="pagination flex items-center justify-between">
      <a th:if="${posts.hasPrevious()}" class="btn w-20" role="navigation" th:href="@{${posts.prevUrl}}" title="上一页">
        上一页
      </a>
      <span class="text-sm" th:text="|${posts.page} / ${posts.totalPages}|"></span>
      <a th:if="${posts.hasNext()}" class="btn w-20" role="navigation" th:href="@{${posts.nextUrl}}" title="下一页">
        下一页
      </a>
    </div>
  </th:block>
</html>
